.logo{
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('https://scontent-yyz1-1.xx.fbcdn.net/v/t31.0-8/15776718_10154896327858781_7593033027876320232_o.jpg?oh=9a4b9c77d9da01f72c43990215458c41&oe=58E8F51C');
}
